/* globals.css */
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

 /* mainly used to standout the main headings*/
@font-face {
    font-family: 'Copeland';
    src: url('/fonts/Copeland.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /* NAVFONTS */
@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('/fonts/CaviarDreams_Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
    /* mainly used to display the features list */
@font-face {
    font-family: 'Garmit-Light';
    src: url('/fonts/Garmit-Light.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

   /* used to display the text over the product */
@font-face {
    font-family: 'MIXONE';
    src: url('/fonts/MIXONE.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

    /* used to display the logo */
@font-face {
    font-family: 'Movie Font';
    src: url('/fonts/Movie Font.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  

/* Global Reset */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme Variables */
[data-theme="light"] {
    --bg-color: #fff5f5;
    --text-color: #3e3c3c;
}

/* Dark Theme Variables */
[data-theme="dark"] {
    --bg-color: #16151e;
    --text-color: #c3c1c1;
}

/* Apply the variables */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
